:root {
    --starting-degree: 0deg;
    --ending-degree: 180deg;

}

#mainBoard {
    display: grid;
    grid: repeat(4, 1fr) / repeat(12, 1fr);
}

#wheelContainer {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50%;
    border: 15px solid black;
    overflow: hidden;
    position: relative;
    transform: rotate(0deg);
}

#wheelContainer.spinning {
    animation: wheelSpin 3s ease-out;
}

@keyframes wheelSpin {
    from {
        transform: rotate(var(--starting-degree));
    }
    to {
        transform: rotate(var(--ending-degree));
    }
}

/* #wheelContainer:hover {
        transform: rotate(450deg);

} */

.wheel-section {
    height: 50%;
    width: 12%;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    left: 44%;
    background-color: pink;
}
