@import url(./styles/board.css);
@import url(./styles/clue.css);
@import url(./styles/player.css);
@import url(./styles/topSection.css);
@import url(./styles/wheel.css);

:root {
    --starting-degree: 0deg;
    --spin-degree: 0deg;
    --ending-degree: 0deg;
}

#wheelGrid {
    height: 100vh;
    margin: 0;
    display: grid;
    grid: 10% 50% 10% 30% / repeat(5, 20%);
    grid-template-areas: 
    "title title title title title"
    "board board board wheel wheel"
    "board board board clue guessed"
    "players players players players players";
}

