:root {
    --starting-degree: 0deg;
    --ending-degree: 180deg;

}

#wheelGrid {
    height: 100vh;
    margin: 0;
    display: grid;
    grid: 10% 50% 10% 30% / repeat(5, 20%);
    grid-template-areas: 
    "title title title title title"
    "board board board wheel wheel"
    "board board board clue clue"
    "players players players players players";
}

/* Top Section */

#topSection {
    display: flex;
    grid-area: title;
    width: 100vw;
    justify-content: space-between;
}

#usedLettersDisplay {
    width: 40%;
    display: flex;
    align-items: center;
}

#usedLettersDisplay h3 {
    margin: 0;
}

#usedLettersContainer {
    display: flex;
    flex-direction: row;
}

#usedLettersContainer p {
    padding: 1em;
}

/* Board stuff */
#mainBoard {
    background-color: green;
    grid-area: board;
    display: grid;
    grid: repeat(4, 1fr) / repeat(12, 1fr);
    gap: 1%;
}

#mainBoard p:not(.processed){
    background-color: red;
}

#mainBoard p {
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

#mainBoard p.revealed {
    border-radius: 10%;
}

#mainBoard p.game-space {
    background-color: white;
}

/* Wheel Stuff */
#wheelContainer {
    grid-area: wheel;
    height: 90%;
    aspect-ratio: 1/1;
    background-color: silver;
    border-radius: 50%;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
    transform: rotate(0deg);
    justify-self: center;
}

#wheelContainer.spinning {
    animation: wheelSpin 3s ease-out;
}

@keyframes wheelSpin {
    from {
        transform: rotate(var(--starting-degree));
    }
    to {
        transform: rotate(var(--ending-degree));
    }
}

.wheel-section {
    height: 50%;
    width: 12%;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    left: 44%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wheel-text {
    font-size: 1.25em;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: center;
    writing-mode: vertical-lr;
    /* text-orientation: upright; */
    text-wrap: nowrap;
    margin: 0;
    padding-top: 5%;
}

/* Clue container */

#clueContainer {
    grid-area: clue;
}

#clueContainer p {
    font-size: 3rem;
    margin: 0;
}

/* Player Stuff */

#playerContainer {
    grid-area: players;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.player-tile {
    width: 20%;
    border-radius: 5%;
    background-color: lightblue;
}