:root {
    --starting-degree: 0deg;
    --spin-degree: 0deg;
    --ending-degree: 0deg;

}

#wheelGrid {
    height: 100vh;
    margin: 0;
    display: grid;
    grid: 10% 50% 10% 30% / repeat(5, 20%);
    grid-template-areas: 
    "title title title title title"
    "board board board wheel wheel"
    "board board board clue clue"
    "players players players players players";
}

/* Top Section */

#topSection {
    display: flex;
    grid-area: title;
    width: 100vw;
    justify-content: space-between;
}

#gameTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    margin: 0;
}

#guessInputContainer {
    display: flex;
    align-items: center;
}

#usedLettersDisplay {
    width: 40%;
    display: flex;
    align-items: center;
}

#usedLettersDisplay h3 {
    margin: 0;
}

#usedLettersContainer {
    display: flex;
    flex-direction: row;
}

#usedLettersContainer p {
    padding: 1em;
}

/* Board stuff */
#mainBoard {
    background-color: green;
    grid-area: board;
    display: grid;
    grid: repeat(4, 1fr) / repeat(12, 1fr);
    gap: 1%;
}

#mainBoard p:not(.processed){
    background-color: red;
}

#mainBoard div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    /* aspect-ratio: 1/1.5; */
}

#mainBoard div.game-space {
    background-color: white;
}

#mainBoard p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 7rem;
    margin: 0;
}

#mainBoard p {
    display: none;
}

#mainBoard p.revealed {
    border-radius: 10%;
    display: block;
}

/* Wheel Stuff */
#wheelContainer {
    height: 90%;
    aspect-ratio: 1/1;
    background-color: silver;
    border-radius: 50%;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
    left: 8%;
    transform: rotate(0deg);
    justify-self: center;
}

.wheel-section:nth-child(even){
    background-color: lightblue;
}

#wheelContainer.spinning {
    animation: wheelSpin 3s ease-out;
}

.wheel-section.flashing {
    animation-name: wheelFlash;
    animation-duration: 2s;
    animation-timing-function: linear;
}

#wheelHolder {
    grid-area: wheel;
}

#wheelIndicator {
    height: 5%;
    width: 10%;
    background-color: red;
    clip-path: polygon(
        0% 20%,
        60% 20%,
        60% 0%,
        100% 50%,
        60% 100%,
        60% 80%,
        0% 80%
        );
    position: relative;
    top: -50%;
}

@keyframes wheelSpin {
    from {
        transform: rotate(var(--starting-degree));
    }
    to {
        transform: rotate(var(--spin-degree));
    }
}

@keyframes wheelFlash {
    0% {
        background-color: rgba(255, 255, 255, 1);
    }
    10% {
        background-color: rgba(255, 255, 255, 0);
    }
    20% {
        background-color: rgba(255, 255, 255, 1);
    }
    30% {
        background-color: rgba(255, 255, 255, 0);
    }
    40% {
        background-color: rgba(255, 255, 255, 1);
    }
    50% {
        background-color: rgba(255, 255, 255, 0);
    }
    60% {
        background-color: rgba(255, 255, 255, 1);
    }
    70% {
        background-color: rgba(255, 255, 255, 0);
    }
    80% {
        background-color: rgba(255, 255, 255, 1);
    }
    90% {
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}

.wheel-section {
    height: 50%;
    width: 13%;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    left: 44%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: clip;
    text-indent: 5%;
}

.wheel-text {
    font-size: 1.25em;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: center;
    writing-mode: vertical-lr;
    /* text-orientation: upright; */
    text-wrap: nowrap;
    margin: 0;
    padding-top: 5%;
}

/* Clue container */

#clueContainer {
    grid-area: clue;
}

#clueContainer p {
    font-size: 3rem;
    margin: 0;
}

/* Player Stuff */

#playerContainer {
    grid-area: players;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.player-tile {
    width: 20%;
    border-radius: 5%;
    background-color: lightblue;
}

.player-tile p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.player-tile.disconnected {
    opacity: .5;
}

