#controllerContainer {
    display: flex;
}

/* this has to stop the zoom in on mobile */
input, textarea {
    font-size: 16px;
}

input[type=color]{
    width: 100px;
    height: 100px;
}

.arrow {
    font-size: 32px;
    width: 10vw;
}

#scrollPowerContainer {
    width: 90vw;
    height: 95vh;
    overflow-y: scroll;
}

#powerBar {
    background: linear-gradient(black, black 40%, green 40%,yellow 70%, red 100%);
    width: 100%;
    height: 200vh;
}

#menuDisplay {
    display: flex;
    background-color: grey;
}

#menuContent {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hidden {
    display: none !important;
}