/* This turns off the pull to refresh and the drag from top stuff. */
:root {
    --playerBGColor: #fff;
}

html, body, #scrollPowerContainer {
    margin: 0;
    overscroll-behavior: none;
}


#controllerContainer {
    display: flex;
}

/* this has to stop the zoom in on mobile */
input, textarea {
    font-size: 16px;
}

input[type=color]{
    width: 100px;
    height: 100px;
}

.arrow {
    font-size: 32px;
    width: 10vw;
}

#scrollPowerContainer {
    width: 90vw;
    height: 100vh;
    overflow-y: scroll;
}

#powerBar {
    background: linear-gradient(black, black 50%, green 60%,yellow 75%, red 95%);
    width: 100%;
    height: 200vh;
}

#menuDisplay {
    display: flex;
    background-color: grey;
}

#menuContent {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hidden {
    display: none !important;
}

#powerBar.flashing {
    animation-name: flashWhite;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes flashWhite {
    from {
        background: rgb(0, 0, 0);
    }
    to {
        background: var(--playerBGColor);
    }
}