@import url('./colors.css');
@import url('./mainScreenStyles.css');
@import url('./playerStyles.css');

.flex-col-center {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    background-color: var(--background);
}
