@import url('./colors.css');

/* Board stuff */
#mainBoard {
    grid-area: board;
}

#mainBoard table {
    width: 100%;
    height: 100%;
    border-spacing: .25rem;
}

#mainBoard p:not(.processed){
    background-color: blue;
}

#mainBoard td {
    background-color: var(--red);
    border-radius: 25%;
    padding: 0;
    width: calc(100%/12);
    height: calc(100%/4);
}

#mainBoard td:nth-child(even){
    background-color: var(--black);
}

#mainBoard tr:nth-child(even) td:nth-child(even){
    background-color: var(--red);
}
#mainBoard tr:nth-child(even) td:nth-child(odd){
    background-color: var(--black);
}

#mainBoard td.game-space {
    background-color: var(--white) !important;
}

#mainBoard p {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 10vh;
    margin: 0;
}

#mainBoard p.revealed {
    border-radius: 10%;
    display: block;
}
