/* Top Section */

#topSection {
    display: flex;
    grid-area: title;
    width: 100vw;
    justify-content: space-between;
}

#gameTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    margin: 0;
}

#guessInputContainer {
    display: flex;
    align-items: center;
}

#usedLettersDisplay {
    display: flex;
    align-items: center;
}

#usedLettersDisplay h3 {
    margin: 0;
}

#usedLettersContainer {
    display: flex;
    flex-direction: row;
}

#usedLettersContainer p {
    padding: 1em;
}

