@import url('./colors.css');

/* Wheel Stuff */
#wheelHolder {
    grid-area: wheel;
    display: flex;
    justify-content: left;
    position: relative;
    left: 4%;
}

#wheelContainer {
    aspect-ratio: 1/1;
    background-color: var(--gold);
    border-radius: 50%;
    border: 5px solid var(--gold);
    overflow: hidden;
}

#wheelIndicator {
    height: 10%;
    width: 5%;
    background-color: var(--white);
    clip-path: polygon(
        0% 20%,
        60% 20%,
        60% 0%,
        100% 50%,
        60% 100%,
        60% 80%,
        0% 80%
        );
    position: absolute;
    top: 50%;
    left: -4%;
}


.wheel-section {
    background-color: var(--red);
}

.wheel-section:nth-child(even){
    background-color: var(--black);
}

#wheelContainer.spinning {
    animation: wheelSpin 3s ease-out;
}

.wheel-section.flashing {
    animation-name: wheelFlash;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-iteration-count: 12;
}

.wheel-section {
    height: 13%;
    width: 50%;
    position: absolute;
    clip-path: polygon(0% 0%, 80% 40%, 80% 60%, 0% 100%);
    transform-origin: 100% 50%;
    translate: 0% 333%;
    display: flex;
    align-items: center;
    border: 3px solid var(--silver);
    box-sizing: border-box;
}

.wheel-text {
    font-size: 1.25em;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--white);
    text-wrap: nowrap;
    margin: 0;
    padding-left: 5%;
}

@keyframes wheelSpin {
    from {
        rotate: var(--starting-degree);
    }
    to {
        rotate: var(--spin-degree);
    }
}

@keyframes wheelFlash {
    from {
        background-color: rgba(255, 255, 255, 1);
    }
    to {
        background-color: rgba(255, 255, 255, 0);
    }
}
